*{
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 80px;
    box-shadow: 0 0px 20px rgb(239, 239, 239);
}
.logo-container{
    margin-left: 3.9%;
}
.myntra-logo{
    width: 62px;
}
.action-bar{
    margin-right: 4%;
}
.nav-bar{
    min-width: 500px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-bar a{
    font-size: 13px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 12px;
    border-bottom: 3px solid transparent;
}
.nav-bar a sup{
    color: #ff3f6c;
    font-size: 10px;
}
.nav-bar a:hover{
    border-bottom: 3px solid hotpink;
}
.search-bar{
    height: 40px;
    min-width: 350px;
    display: flex;
    align-items: center; 
}
.search-icon{
    position: absolute;
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    color: #696e79;
    font-weight: lighter;
}
.search-input{
    padding-left: 50px;
    width: 100%;
    height: 40px;
    flex-grow: 1;
    background-color: #f5f5f6;
    color: #696e79;
    border: 1px solid #f5f5f6;
    border-radius: 4px 4px 4px 4px;
}
.search-input:focus{
    outline: none;
    background-color: white;
    border: 1px solid #e8e8e8;
}
.action-bar{
    display: flex;
    justify-content: space-between;
    min-width: 150px;
}
.action-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
}
.action-icon{
    font-size: 10px;
    
}
.banner-container{
    margin: 40px 0;
}
.banner-image{
    width: 100%;
}
.category-heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.6em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}
.category-items{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sale-item{
    width: 250px;
}
.footer-container{
    background-color: #f4f4f4;
    padding: 30px 0 40px 0;
    display: flex;
    justify-content: space-evenly;
}
.footer-column{
    display: flex;
    flex-direction: column;
}
.footer-column h3{
    color: #3e4152;
    font-size: 17px;
    margin-bottom: 25px;
}
.footer-column a{
    color: rgb(127, 127, 127);
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}
.copyright{
    color: #94969f;
    text-align: end;
    padding: 15px;
    
}